<DIV>
    <DIV>
        <label for="complaint" action="/complaint" aria-placeholder="COMPLAINT" METHOD="POST">
            <input type="text" placeholder="ENTER YOUR COMPLAINT"  name="textname">

            <input type="file" placeholder="UPLOAD A PHOTO">
        </label>
    </DIV>
</DIV>